In [25]:
# Importing libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from faker import Faker
import random
fake = Faker()
from itertools import cycle
%matplotlib inline

import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [26]:
import datetime
import time

MINTIME = datetime.datetime(2020,7,1,0,0,0)
MAXTIME = datetime.datetime(2020,7,2,0,0,0)

mintime_ts = int(time.mktime(MINTIME.timetuple())) #convert date into int
maxtime_ts = int(time.mktime(MAXTIME.timetuple())) #convert date into int
nb_slots = (maxtime_ts - mintime_ts)//(5*60)  # number of 5 minutes slots

In [27]:
# function to create a dataframe with fake values for our game history table
def game_history(num):
    
    # lists to randomly assign to workers
    status_list = ["A","2","3","4","5","6","7","8","9","10","J","Q","K"]
    suit_list = ["C","D","S","H"]

    hand_value = ["Pair of As", "A High", "8 High", "10 High", "Pair of 2s"]
    
    

    fake_workers = [{'Hand_ID':"SG"+str(x+1000),
                  'Session_ID':x+1000,
                  'Game_start':fake.date_between(start_date='-1y', end_date='today').strftime('%B %d, %Y, %r'),
                  'Game_duration': datetime.datetime.strftime(datetime.datetime.fromtimestamp(mintime_ts + 5*60 * random.randint(0, nb_slots)), '%H:%M'),
                  'Hole_Card':np.random.choice(status_list) + np.random.choice(suit_list) + "/" +  np.random.choice(status_list) + np.random.choice(suit_list) , # assign items from list with different probabilities
                  'Hand_Value':np.random.choice(hand_value) ,
                  'Winner':fake.name(),
                  'Pot': round(np.random.random(),2),
                  'WinLoss': round(np.random.random(),2),
                  'Leaderboard_points': round(np.random.random(),2),
                  'Insurance': round(np.random.random(),2)}
                  for x in range(num)                  
                  ]
        
    return fake_workers

worker_df = pd.DataFrame(game_history(num=5000))
worker_df

,Hand_ID,Session_ID,Game_start,Game_duration,Hole_Card,Hand_Value,Winner,Pot,WinLoss,Leaderboard_points,Insurance
0,SG1000,1000,"November 28, 2021, 12:00:00 AM",02:55,5D/9D,8 High,Thomas Miller,0.54,0.16,0.99,0.76
1,SG1001,1001,"May 24, 2022, 12:00:00 AM",18:25,AD/8H,10 High,Henry Castro,0.35,0.82,0.00,0.43
2,SG1002,1002,"March 22, 2022, 12:00:00 AM",01:30,10D/9D,A High,Ryan Lewis,0.77,0.93,0.74,0.29
3,SG1003,1003,"December 18, 2021, 12:00:00 AM",06:20,10D/5D,Pair of As,Christopher Bray,0.58,0.42,0.60,0.20
4,SG1004,1004,"September 29, 2021, 12:00:00 AM",23:40,QC/8S,10 High,Erica Wheeler,0.60,0.58,0.64,0.79
...,...,...,...,...,...,...,...,...,...,...,...
4995,SG5995,5995,"September 03, 2021, 12:00:00 AM",01:00,5H/6S,Pair of As,Michael Marshall,0.57,0.95,0.89,0.51
4996,SG5996,5996,"April 11, 2022, 12:00:00 AM",00:55,2D/7C,10 High,James Mclean,0.65,0.38,0.08,0.22
4997,SG5997,5997,"June 26, 2021, 12:00:00 AM",05:30,3H/9D,Pair of 2s,Ashley Hahn,0.48,0.62,0.31,0.28
4998,SG5998,5998,"April 24, 2022, 12:00:00 AM",09:30,4S/10H,8 High,Luis Martinez,0.53,0.53,0.68,0.10
4999,SG5999,5999,"November 01, 2021, 12:00:00 AM",16:25,7S/AD,8 High,Lauren Montoya,0.60,0.84,0.05,0.50

In [28]:
worker_df.to_csv("Resources\Fake_Game_History.csv", index=False)

In [29]:
df = pd.read_csv("Resources\Fake_Game_History.csv")
df

,Hand_ID,Session_ID,Game_start,Game_duration,Hole_Card,Hand_Value,Winner,Pot,WinLoss,Leaderboard_points,Insurance
0,SG1000,1000,"November 28, 2021, 12:00:00 AM",02:55,5D/9D,8 High,Thomas Miller,0.54,0.16,0.99,0.76
1,SG1001,1001,"May 24, 2022, 12:00:00 AM",18:25,AD/8H,10 High,Henry Castro,0.35,0.82,0.00,0.43
2,SG1002,1002,"March 22, 2022, 12:00:00 AM",01:30,10D/9D,A High,Ryan Lewis,0.77,0.93,0.74,0.29
3,SG1003,1003,"December 18, 2021, 12:00:00 AM",06:20,10D/5D,Pair of As,Christopher Bray,0.58,0.42,0.60,0.20
4,SG1004,1004,"September 29, 2021, 12:00:00 AM",23:40,QC/8S,10 High,Erica Wheeler,0.60,0.58,0.64,0.79
...,...,...,...,...,...,...,...,...,...,...,...
4995,SG5995,5995,"September 03, 2021, 12:00:00 AM",01:00,5H/6S,Pair of As,Michael Marshall,0.57,0.95,0.89,0.51
4996,SG5996,5996,"April 11, 2022, 12:00:00 AM",00:55,2D/7C,10 High,James Mclean,0.65,0.38,0.08,0.22
4997,SG5997,5997,"June 26, 2021, 12:00:00 AM",05:30,3H/9D,Pair of 2s,Ashley Hahn,0.48,0.62,0.31,0.28
4998,SG5998,5998,"April 24, 2022, 12:00:00 AM",09:30,4S/10H,8 High,Luis Martinez,0.53,0.53,0.68,0.10
4999,SG5999,5999,"November 01, 2021, 12:00:00 AM",16:25,7S/AD,8 High,Lauren Montoya,0.60,0.84,0.05,0.50