In [85]:
# Importing libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from faker import Faker
import random
fake = Faker()
from itertools import cycle
%matplotlib inline

import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [86]:
import datetime
import time

MINTIME = datetime.datetime(2020,7,1,0,0,0)
MAXTIME = datetime.datetime(2020,7,2,0,0,0)

mintime_ts = int(time.mktime(MINTIME.timetuple())) #convert date into int
maxtime_ts = int(time.mktime(MAXTIME.timetuple())) #convert date into int
nb_slots = (maxtime_ts - mintime_ts)//(5*60)  # number of 5 minutes slots

In [87]:
# function to create a dataframe with fake values for our game history table
def game_history(num):
    
    # lists to randomly assign to workers
    status_list = ["A","2","3","4","5","6","7","8","9","10","J","Q","K"]
    suit_list = ["C","D","S","H"]

    hand_value = ["Pair of As", "A High", "8 High", "10 High", "Pair of 2s"]
    
    

    fake_workers = [{'Game_ID':x+1000,
                  'Session_ID':x+1000,
                  'Game_start':fake.date_between(start_date='-1y', end_date='today').strftime('%B %d, %Y, %r'),
                  'Game_duration': datetime.datetime.strftime(datetime.datetime.fromtimestamp(mintime_ts + 5*60 * random.randint(0, nb_slots)), '%H:%M'),
                  'Hole_Card':np.random.choice(status_list) + np.random.choice(suit_list) + "/" +  np.random.choice(status_list) + np.random.choice(suit_list) , # assign items from list with different probabilities
                  'Hand_Value':np.random.choice(hand_value) ,
                  'Winner':fake.name(),
                  'Pot': round(np.random.random(),2),
                  'WinLoss': round(np.random.random(),2),
                  'Insurance': round(np.random.random(),2)}
                  for x in range(num)                  
                  ]
        
    return fake_workers

worker_df = pd.DataFrame(game_history(num=5000))
worker_df

,Game_ID,Session_ID,Game_start,Game_duration,Hole_Card,Hand_Value,Winner,Pot,WinLoss,Insurance
0,1000,1000,"May 16, 2022, 12:00:00 AM",00:50,6C/JH,A High,Eric Glover,0.24,0.94,0.58
1,1001,1001,"May 01, 2022, 12:00:00 AM",00:25,4C/2H,8 High,Deborah Hayes,0.28,0.07,0.20
2,1002,1002,"August 24, 2021, 12:00:00 AM",02:10,5H/QS,10 High,Edward Davis,0.15,0.36,0.99
3,1003,1003,"March 27, 2022, 12:00:00 AM",10:50,5D/3H,Pair of As,Philip Bean,0.09,0.16,0.62
4,1004,1004,"January 06, 2022, 12:00:00 AM",03:55,AH/JD,10 High,Mr. Andrew Adams DDS,0.52,0.63,0.94
...,...,...,...,...,...,...,...,...,...,...
4995,5995,5995,"May 18, 2022, 12:00:00 AM",07:40,8D/QS,10 High,Ryan Mcdowell,0.02,0.35,0.85
4996,5996,5996,"April 04, 2022, 12:00:00 AM",03:15,6H/4C,10 High,Jonathan Henry,0.33,0.73,0.24
4997,5997,5997,"August 01, 2021, 12:00:00 AM",11:20,10S/2D,8 High,Samuel Haley,0.64,0.08,0.16
4998,5998,5998,"May 22, 2022, 12:00:00 AM",18:35,AH/KD,10 High,Breanna Poole MD,0.49,0.37,0.47
4999,5999,5999,"October 13, 2021, 12:00:00 AM",11:30,7C/QC,A High,Erik Marsh,0.59,0.10,0.49

In [90]:
worker_df.to_csv("Resources\Fake_Game_History.csv", index=False)

In [91]:
df = pd.read_csv("Resources\Fake_Game_History.csv")
df

,Game_ID,Session_ID,Game_start,Game_duration,Hole_Card,Hand_Value,Winner,Pot,WinLoss,Insurance
0,1000,1000,"May 16, 2022, 12:00:00 AM",00:50,6C/JH,A High,Eric Glover,0.24,0.94,0.58
1,1001,1001,"May 01, 2022, 12:00:00 AM",00:25,4C/2H,8 High,Deborah Hayes,0.28,0.07,0.20
2,1002,1002,"August 24, 2021, 12:00:00 AM",02:10,5H/QS,10 High,Edward Davis,0.15,0.36,0.99
3,1003,1003,"March 27, 2022, 12:00:00 AM",10:50,5D/3H,Pair of As,Philip Bean,0.09,0.16,0.62
4,1004,1004,"January 06, 2022, 12:00:00 AM",03:55,AH/JD,10 High,Mr. Andrew Adams DDS,0.52,0.63,0.94
...,...,...,...,...,...,...,...,...,...,...
4995,5995,5995,"May 18, 2022, 12:00:00 AM",07:40,8D/QS,10 High,Ryan Mcdowell,0.02,0.35,0.85
4996,5996,5996,"April 04, 2022, 12:00:00 AM",03:15,6H/4C,10 High,Jonathan Henry,0.33,0.73,0.24
4997,5997,5997,"August 01, 2021, 12:00:00 AM",11:20,10S/2D,8 High,Samuel Haley,0.64,0.08,0.16
4998,5998,5998,"May 22, 2022, 12:00:00 AM",18:35,AH/KD,10 High,Breanna Poole MD,0.49,0.37,0.47
4999,5999,5999,"October 13, 2021, 12:00:00 AM",11:30,7C/QC,A High,Erik Marsh,0.59,0.10,0.49